@{
    ViewData["Title"] = "Location";
}
@model List<Application.ViewModels.LocationViewModel>;

<div class="locations">
    @{
        ViewData["classHeader"] = "locations-header";
        ViewData["title"] = "Locations";
        ViewData["placeholder"] = "Example. Earth";
        ViewData["controller"] = "Location";
    }
    @Html.Partial("~/Views/Shared/PartialView/_Header.cshtml")

    <div class="container">

        @foreach (var location in Model)
        {
            <div class="location">
                <div class="title"> 
                    <h4>@location.name</h4>
                </div>
                <ul class="info">
                   <li>
                       <b>Type: </b>@location.type
                   </li>
                    <li>
                        <b>Dimension: </b>@location.dimension
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
