<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ricky_Morthy_App</title>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <nav>

    </nav>
        @RenderBody()
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
