@{
    ViewData["Title"] = "Character";
}
@model List<Application.ViewModels.CharacterViewModel>;

<div class="characters">

    @{
        ViewData["classHeader"] = "characters-header";
        ViewData["title"] = "Characters";
        ViewData["placeholder"] = "Example.Ricky";
        ViewData["controller"] = "Character";
    }
    @Html.Partial("~/Views/Shared/PartialView/_Header.cshtml")

    @Html.Partial("~/Views/Shared/PartialView/_ListCharacters.cshtml", Model)
</div>
