@{
    ViewData["Title"] = "Episode";
}
@model List<Application.ViewModels.EpisodeViewModel>;

<div class="episodes">
    @{
        ViewData["classHeader"] = "episodes-header";
        ViewData["title"] = "Episodes";
        ViewData["placeholder"] = "Example. Anatomy Park";
        ViewData["controller"] = "Episode";
    }
    @Html.Partial("~/Views/Shared/PartialView/_Header.cshtml")

    <div class="container">

        @foreach (var episode in Model)
        {
            <div class="episode">
                <div class="title">
                    <h4>@episode.name</h4>
                </div>
                <ul class="info">
                    <li>
                        <b>Air date: </b>@episode.air_date
                    </li>
                    <li>
                        <b>Episode: </b>@episode.episode
                    </li>
                </ul>
            </div>
        }
    </div>
</div>
